.App {
  text-align: center;
  background-color: #F5F5F5;
}
#name {
  font-weight: bold;
  color: #2AABD2;
  font-size: 30px;
}
ButtonToolBar,Button {
  margin-top: 10px;
}
#secondNavItem {
  font-weight: bold;
  color:#018086;
}
#quote {
  color: #018086;
  padding: 80px;
}
#hear {
  height: 300px;
}
