.App {
  text-align: center;
}
#name {
  font-weight: bold;
  color: #2AABD2;
  font-size: 30px;
}
ButtonToolBar,Button {
  margin-top: 10px;
}
#secondNavItem {
  font-weight: bold;
  color:#018086;
}
